#div_table_main{
    min-height: 300px;
    overflow: scroll;
}
#table_main .table_summary{
    position: sticky;
    bottom: 0rem;
    background:white;
}
.table_main_col{
    width:5%;
}
#table_summary th,#table_summary td{
    width:5%;
}

