{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>気温ビューア</title>
    {% comment %} CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.8.1/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block link %}{% endblock link %}
  </head>
<body>
  {% comment %} JS {% endcomment %}
  <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'datatables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plotly-2.9.0.min.js' %}"></script>
  <div id="div_all" class="d-flex flex-column container-fluid">
    {% comment %} ナビゲーションバー {% endcomment %}
    <nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        {% comment %} トグルボタン {% endcomment %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_toggle" aria-controls="navbar_toggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% comment %} タイトル {% endcomment %}
        <span class="navbar-brand me-sm-3">気温Viewer</span>
        {% comment %} 本体 {% endcomment %}
        <div class="collapse navbar-collapse" id="navbar_toggle">
          <ul class="navbar-nav me-auto">
            {% block nav %}{% endblock nav %}
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item ms-3 ms-sm-0">
              <a class="nav-link" href={% url 'year' year %}>年</a>
            </li>
            <li class="nav-item ms-3 ms-sm-0">
              <a class="nav-link" href={% url 'month' year month %}>月</a>
            </li>
            <li class="nav-item ms-3 ms-sm-0">
              <a class="nav-link" href={% url 'day' year month day %}>日</a>
            </li>
            <li class="nav-item ms-3 ms-sm-0">
              {% now "Y" as now_year %}
              {% now "n" as now_month %}
              {% now "j" as now_day %}
              <a class="nav-link" href={% url 'day' now_year now_month now_day %}>今日</a>
            </li>
            <li class="nav-item mt-2 ms-3">
              <a href={% url 'upload' %}>
                <i class="bi-upload" role="img" aria-label="Upload" style="color:white;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% comment %} 本文 {% endcomment %}
    {% block free %}{% endblock free %}
  </div>
</body>
</html>