{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>気温ビューア</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.8.1/bootstrap-icons.css' %}">
</head>
<body>
    <div class="d-grid mt-5">
        <p class="text-center fs-1">データが見つかりませんでした</p>
        <button class="btn btn-primary btn-lg ms-2 me-2" onClick="history.back(); return false;">戻る</button>
    </div>
</body>
</html>