{% load static %}
{% load datetime_calculation %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>気温ビューア</title>
    {% comment %} CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="origin.css">
  </head>
<body>
  {% comment %} JS {% endcomment %}
  <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
  {% comment %} ナビゲーションバー {% endcomment %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      {% comment %} トグルボタン {% endcomment %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% comment %} タイトル {% endcomment %}
      <span class="navbar-brand mr-5">気温Viewer</span>
      {% comment %} 本体 {% endcomment %}
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto">
          {% block nav %}{% endblock nav %}
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" href={% url 'year' year %}>年</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href={% url 'month' year month %}>月</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href={% url 'day' year month day %}>日</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  {% comment %} 本文 {% endcomment %}
  {% block free %}{% endblock free %}
</body>
</html>